# Eclipse
.classpath
.project
.settings/
bin/

# Test Reports & Outputs
test-output/
Reports/

/target/
/build/
# Ignore compiled class files
*.class



"target/" 
"src/main/resources/config.properties" 
